* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: white;
  font-family: "Noto Sans", sans-serif;
  color: #445361;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
}

.logo {
  height: 200px;

}

.game-area {
  background-color: #E6ECF0;
  box-sizing: border-box;
  width: 90%;
  height: 65vh;
  max-height: 300px;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.game-area button {
  font-size: 14px;
}

.game-area img{
  height: 100px;
}

.choices div {
  display:inline-block;
  padding:5px;
}

.btn {
  width: 220px;
  height: 60px;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: black;
}

.btn:focus {
  outline: none;
}

.btn--big {
  padding-top: 10px;
  border-radius: 50%;
  background-color: white;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 3.2rem;
  margin: 0 30px;
  transition: all 0.5s;
}


.btn:hover {
  background-color: grey;
}

@media screen and (max-width: 950px){

.heading i{
    font-size: 16px;
  }
  .game-area {
    height: 90vh;
    max-height: 1000px;
  }
}